SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="00:1e:e5:e0:2e:5c", NAME="wlan0"
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="50:3e:aa:a5:d5:cb", NAME="wlan1"
SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="50:3e:aa:a9:ef:05", NAME="wlan2"